/*
 * display: -moz-flex;
 */
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: none;
  -moz-transform: none;
  flex: 1;
}

